@value (
    morningSky,
    sunShine,
    sonicPrimary,
    greyscale00,
    greyscale300,
    greyscale400,
    greyscale500,
    greyscale850,
    greyscale1000
) from "./colours.css";

.token {
    display: inline-block;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
.token:hover {
    border-color: sonicPrimary;
}
.value {
    display: inline-block;
    padding: 1px 5px 0 8px;
    vertical-align: middle;
    border: 1px solid greyscale400;
    border-radius: 0 2px 2px 0;
    font-size: 12px;
}
.value:hover {
    color: sonicPrimary;
    text-decoration: underline;
}
.token-remove {
    width: 9px;
    height: 9px;
    background-color: greyscale1000;
    position: absolute;
    top: -2px;
    right: -5px;
    border-radius: 50%;
    text-align: center;
    color: transparent;
    cursor: pointer;
    user-select: none;
    display: none;
    z-index: 1;
}
.token:hover .token-remove {
    display: block;
}
.token-remove:before, .token-remove:after {
    position: absolute;
    left: 4px;
    top: 2px;
    content: ' ';
    height: 6px;
    width: 1px;
    background-color: #FFF;
}
.token-remove:before {
    transform: rotate(45deg);
}
.token-remove:after {
    transform: rotate(-45deg);
}
.label {
    border: 1px solid greyscale400;
    border-right: 0;
    border-radius: 2px 0 0 2px;
    background-color: greyscale300;
    vertical-align: middle;
    display: inline-block;
    padding: 1px 5px;
    font-size: 14px;
}
.input input {
    padding-top: 0;
    padding-bottom: 0;
    height: 20px;
    vertical-align: middle;
    border: 1px solid greyscale400;
    border-radius: 0 2px 2px 0;
    width: auto;
}
.token-field {
    display: flex;
}
.search {
    margin-right: 5px;
    vertical-align: bottom;
}
.token-suggestion {
    white-space: nowrap;
    color: greyscale850;
}
.selected {
    color: sonicPrimary;
    background-color: morningSky;
}
.current-value {
    color: greyscale00;
    background-color: sonicPrimary;
}
.description {
    font-size: 10px;
    color: greyscale500;
}
:global(.dp-selectable-list--selected) .description {
    color: greyscale00;
}
.highlight {
    background-color: sunShine;
}
.raw-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    /*border: 0;*/
    padding: 0 5px;
}
.raw-text:focus {
    outline: 0;
}
.input-box {
    cursor: text;
    flex-grow: 1;
    height: 20px;
    vertical-align: baseline;
    display: inline-block;
}
