@value (
    morningSky,
    sunShine,
    sonicPrimary,
    greyscale00,
    greyscale200,
    greyscale300,
    greyscale400,
    greyscale500,
    greyscale850,
    greyscale1000
) from "./colours.css";

.token {
    display: inline-block;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    vertical-align: top;
}
.token:hover {
    border-color: sonicPrimary;
}
.token + .token {
    margin-left: 5px;
}
.value {
    display: inline-block;
    padding: 1px 5px 0 8px;
    vertical-align: top;
    border: 1px solid greyscale400;
    border-radius: 0 2px 2px 0;
    font-size: 12px;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.value:hover {
    color: sonicPrimary;
    text-decoration: underline;
}
.token-remove {
    width: 9px;
    height: 9px;
    background-color: greyscale1000;
    position: absolute;
    top: -4px;
    right: -5px;
    border-radius: 50%;
    text-align: center;
    color: transparent;
    cursor: pointer;
    user-select: none;
    display: none;
    z-index: 2;
}
.token:hover .token-remove {
    display: block;
}
.active:hover .token-remove {
    display: none;
}
.token-remove:before, .token-remove:after {
    position: absolute;
    left: 4px;
    top: 2px;
    content: ' ';
    height: 6px;
    width: 1px;
    background-color: #FFF;
}
.token-remove:before {
    transform: rotate(45deg);
}
.token-remove:after {
    transform: rotate(-45deg);
}
.click-outside {
    display: inline-block;
    height: 17px;
}
.label {
    border: 1px solid greyscale400;
    border-right: 0;
    border-radius: 2px 0 0 2px;
    background-color: greyscale300;
    vertical-align: top;
    display: inline-block;
    padding: 1px 5px;
    font-size: 14px;
}
.input input {
    padding-top: 0;
    padding-bottom: 0;
    height: 20px;
    vertical-align: top;
    border: 1px solid greyscale400;
    border-radius: 0 2px 2px 0;
    width: auto;
}
.token-field {
    display: flex;
}
.search {
    margin-right: 5px;
    vertical-align: bottom;
}
.token-suggestion {
    white-space: nowrap;
    color: greyscale850;
}
.selected {
    color: sonicPrimary;
    background-color: morningSky;
}
.current-value {
    color: greyscale00;
    background-color: sonicPrimary;
}
.description {
    font-size: 10px;
    color: greyscale500;
}
:global(.dp-selectable-list--selected) .description {
    color: greyscale00;
}
.highlight {
    background-color: sunShine;
}
.raw-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border: 0;
    padding: 0 5px;
}
.raw-text:focus {
    outline: 0;
}
.input-box {
    cursor: text;
    flex-grow: 1;
    height: 20px;
    vertical-align: baseline;
    display: inline-block;
}
.option {
    white-space: nowrap;
}
.option :global(.dp-icon) {
    position: static;
    color: inherit;
}
.dp-select__all-tokens {
    & > :global(.dp-select__content) {
        padding: 5px 0 0 !important;
        & :global(.dp-list__element) {
            padding: 0 6px;
            &:global(.separator) {
                border-bottom: solid 1px greyscale500;
            }
            &.category {
                position: relative;
                z-index: 2;
                & :global(.dp-icon) {
                    position: relative;
                    float: right;
                    margin-right: 5px;
                    color: greyscale850;
                    top: 3px;
                }
            }
        }
    }
}
.loading {
    text-align: center;
}
.loading :global(.dp-icon) {
    position: static;
    margin: 5px auto;
}
.extend-tokens {
    text-align: center;
    background-color: greyscale200;
    border-top: solid 1px greyscale500;
    &:hover, &:focus {
        background-color: greyscale400;
    }
    &:global(.selected) {
        background-color: greyscale300;
    }
}
.extend-tokens :global(.dp-icon) {
    position: relative;
    color: greyscale850;
}
.token-subcategory {
    position: absolute;
    top: -1px;
    left: calc(100%);
    background-color: greyscale00;
    border: 1px solid sonicPrimary;
    border-radius: 2px;
    padding-left: 0 !important;
    font-size: inherit !important;
    z-index: -1;
    display: none;
}
.selected {
    & .token-subcategory {
        display: block;
    }
}
.category:hover {
    & .token-subcategory {
        display: block;
    }
}

.datetime-picker {
    & :global(.dp-input) input {
        height: 20px;
        padding-top: 0;
        padding-bottom: 0;
    }
}
